<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_DOMAIN</key>
	<string>$(API_DOMAIN)</string>
	<key>API_PATH</key>
	<string>$(API_PATH)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>weru.isoko.app</string>
				<string>com.googleusercontent.apps.YOUR_REVERSED_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weru</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>weru.isoko.app</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>CLIENT_SECRET</key>
	<string>$(CLIENT_SECRET)</string>
	<key>DEFAULT_COUNTRY_CODE</key>
	<string>$(COUNTRY_CODE)</string>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>GIDClientID</key>
	<string>994100242590-8fbiek5bhnlkedbgs7s8jdf18tmcv7mf.apps.googleusercontent.com</string>
	<key>IMAGE_DOMAIN</key>
	<string>$(IMAGE_DOMAIN)</string>
	<key>LEGACY_CORE_DOMAIN</key>
	<string>$(LEGACY_CORE_DOMAIN)</string>
	<key>LEGACY_CORE_PATH</key>
	<string>$(LEGACY_CORE_PATH)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
