//
//  PROD.xcconfig
//  iSoko
//
//  Created by Edwin Weru on 12/08/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

//MARK: - ENVIRONMENT
ENVIRONMENT = PROD

// MARK: - Country (build-time)
COUNTRY_CODE = tz

// MARK: - Domains
LEGACY_CORE_DOMAIN = isoko.africa
API_DOMAIN = api.dev.isoko.africa
IMAGE_DOMAIN = isoko.twcc-tz.org

// MARK: - Paths (explicit!)
LEGACY_CORE_PATH = wit-backend/
API_PATH = v1/

CLIENT_ID = wit_android_app
CLIENT_SECRET = QBhd$Txm42n3q@
